* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
     height: 100vh;
     display: flex;
    
    
}



body {
    color: rgb(3, 4, 4);
    font-family: 'Inter';

}



