.btnCadastrar {
    padding: 0.6rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background: #ffa501;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .btnSaberMais {
    padding: 0.6rem 2rem;
    transition: 0.2s;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    background: #ffffff00;
    font-size: 15px;
  }
  .btnCadastrar:hover {
    background: #ffb62d;
  }
  
  .btnSaberMais:hover {
    color: #fff;
    background: #7a7a7aa8;
  }
  
  .buttonsInicio {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .comecar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    background: #ffa501;
    gap: 1rem;
    font-size: 20px;
    border-radius: 10px;
    transition: 300ms all ease;
    cursor: pointer;
  }
  
  .comecar:hover {
    background: #ff5555;
    color: #fff;
  }
  
  .comeco {
    font-family: "Inter", sans-serif;
  }
  
  .saiba {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    gap: 1rem;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    transition: 300ms all ease;
    cursor: pointer;
  }
  
  .saiba:hover {
    background: #ffa501;
  }
  
  .mais {
    font-family: "Inter", sans-serif;
  }
  
  .saiba img {
    width: 1rem;
  }
  